<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hr />
    <div style="text-align: center">
        <h1>Algo salió mal...</h1>
        <hr />
        <img src="https://ayudawp.com/wp-content/uploads/2017/11/homer-simpson-panel-control-nuclear-840x630.jpg" alt="Imagen de error">
    </div>
    <hr />
    <a href="~/Home/Index">Regresar al inicio</a>
</body>
</html>
