<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hr />
    <div style="text-align: center">
        <img src="~/Content/noauthorized.jpg" alt="acceso no autorizado" />
        <div class="alert alert-danger" role="alert">
            <h1><strong>Usuario no autorizado</strong></h1>
        </div>
    </div>
    <hr />
</body>
</html>
