
@{
    ViewBag.Title = "ImportarActividades";
}

<hr />

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
@if (ViewBag.Warning != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.Warning
    </div>
}



