@{
    ViewBag.Title = "Inicio";
}

<div style="text-align: center">
    <h1>Bienvenido</h1>
    <h2>Sistema de gestión de club deportivo</h2><br>
    <img src="https://www.competize.com/blog/wp-content/uploads/2020/12/gestionar-club-deportivo-formacion-patrocinios-1.jpg" alt="Imagen de personas jugando al basket">
</div>
