@{
    ViewBag.Title = "Inicio";
}

<div style="text-align: center">
    <h1>Bienvenido</h1>
    <h2>Sistema de gestión de club deportivo</h2><br>
    <img src="~/Content/home.jpg" alt="Imagen de personas jugando al basket">
</div>
