@model Dominio.IngresoActividad

@{
    ViewBag.Title = "ConfirmarIngreso";
}

<h2>Confirmación de ingreso</h2>


@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}


@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<hr />

<div>
    @Html.ActionLink("Regresar a la lista de socios", "Index", "Socio")
</div>
