@model WebObligatorio_2_P3.Models.ViewModelSocio

@{
    ViewBag.Title = "ConfirmarPago";
}

<h2>Confirmación de pago</h2>


<div>
    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Success
        </div>
    }
    else if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
</div>



<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
